
*.xcworkspacedata

*.xcuserstate

*.xcsettings

*.xcbkptlist

*.xcscheme
MySecondGame.xcodeproj/xcuserdata/stefanjosten.xcuserdatad/xcschemes/xcschememanagement.plist

MySecondGameTests/Info.plist

MySecondGameTests/MySecondGameTests.swift
